# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/
build/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# IDE
.idea/
.vscode/

# Secrets
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
